
    <div class="container">
        <div class="card">
          <div class="card__header">
           
          </div>
          <div class="card__body">
            <p>{{ News.title }}</p>
            <span class="tag tag-blue">Technology</span>
            <h4>What's new in 2022 Tech</h4>
           
            <p>{{ News.content }}</p>
          </div>
          <div class="card__footer">
            <div class="user">
              <img src="https://i.pravatar.cc/40?img=1" alt="user__image" class="user__image">
              <div class="user__info">
                <h5>{{ News.authorName }}</h5>

                <small>{{ News.creationDate }}</small>
              </div>
            </div>
          </div>
        </div>
        </div>
       